<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="account">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Account</ion-label>
            <ion-badge></ion-badge>
        </ion-tab-button>
        <ion-tab-button tab="contact">
            <ion-icon name="call-outline"></ion-icon>
            <ion-label>Contacts</ion-label>
            <ion-badge>8</ion-badge>
        </ion-tab-button>
        <ion-tab-button tab="settings">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>Settings</ion-label>
            <ion-badge>3</ion-badge>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>